<!-- <h1><%= t(:sign_in_title) %></h1> -->
	
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div id="login_fields">
	  <div class="login_field">
	    <%= f.label t(:username) %><br />
	    <%= f.text_field :username %>
	  </div>
	  <div class="login_field">
	    <%= f.label t(:password) %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="actions">
	    <%= f.submit t(:sign_in) %>
	  </div>
	</div>
<% end %>
