
	<script>
      var statuses = {};
		$(document).ready(function(){
			
      $('#jobs_table').dataTable( {
        "oLanguage": {
          "sUrl": "dataTables.russian.txt"
        },
				"sPaginationType": "full_numbers",
				"bJQueryUI": false,
				"bProcessing": true,
				"aaSorting": [[ 8, "desc" ]],
				"aoColumns": [
					null,
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					{ "asSorting": ["asc", "desc"] },
					null,
					null
				]
			}).columnFilter( {
				aoColumns: [
					null,
					{ type: "select", values: ['✓', '✕'] },
					{ type: 'text' },
					{ type: 'text' },
					{ type: 'text' },
					{ type: 'text' },
					{ type: 'number' },
					{ type: "text" },
					{ type: 'text' },
					{ type: 'select', values: ['✓', '✕'] },
					null,
					null
				]
			});
      
      $('.status_img').click(function(){
        if($(this).attr('src').match('red_x.png')){
          $(this).attr('alt', '✓');
          $(this).next('.status_val').html('✓');
          $(this).slideUp(100).attr('src', '/images/green_check.png').slideDown(100);
          var job_id = $(this).parent().parent().children('.job_id_col').text();
          statuses["jb_"+job_id] = 1;
        }
        else{
          $(this).attr('alt', '✕');
          $(this).next('.status_val').html('✕');
          $(this).slideUp(100).attr('src', '/images/red_x.png').slideDown(100);
          var job_id = $(this).parent().parent().children('.job_id_col').text();
          statuses["jb_"+job_id] = 0;
        }
      });
      
    });
    
    function save_statuses(){
      $.post("/save_jobs_statuses",
             statuses,
             location.reload()
            );
      }
    
	</script>
	
  <div id="new_job"><%= link_to t(:add_job), new_job_path, :class => "green" %></div>
  
  <div id="update_statuses"><%= link_to_function t(:save_statuses), "save_statuses()" %></div>
	
	<table id="jobs_table" cellpadding="0" cellspacing="0" border="0" class="display" id="job_table">
		<thead>
		  <tr>
	        <th><%= t :num_col %></th>
	        <th><%= t :status_col %></th>
	        <th><%= t :model_col %></th>
	        <th><%= t :serial_col %></th>
	        <th><%= t :repair_col %></th>
	        <th><%= t :supplier_col %></th>
	        <th><%= t :price_col %></th>
	        <th><%= t :master_col %></th>
	        <th><%= t :date_col %></th>
	        <th><%= t :guarantee_col %></th>
		    <th></th>
		    <th></th>
		  </tr>
  		</thead>
		<tfoot>
			<tr>
				<th></th>
		        <th><%= t :status_col %></th>
		        <th><%= t :model_col %></th>
		        <th><%= t :serial_col %></th>
		        <th><%= t :repair_col %></th>
		        <th><%= t :supplier_col %></th>
		        <th><%= t :price_col %></th>
		        <th><%= t :master_col %></th>
			    <th><%= t :date_col%></th>
			    <th><%= t :guarantee_col %></th>
			    <th></th>
		    	<th></th>
			</tr>
		</tfoot>
		<tbody>
			<% @jobs.each do |job| %>
			  <tr id="jobs_table_rows">
			  	<td class="job_id_col"><%= job.id %></td>
			    <td class="status_col">
			    	<%= (job.status)? image_tag('/images/green_check.png', :class => 'status_img', :alt => '✓') 
                  : image_tag('/images/red_x.png', :class => 'status_img', :alt => '✕') %>
            <span class="status_val status_val_<%= job.id %>"><%= (job.status)? '✓' : '✕' %></span>
			    </td>
			    <td class="model_col"><%= job.model.name %></td>
			    <td class="serial_col"><%= job.serial %></td>
			    <td class="comment_col"><%= job.comment %></td>
			    <td class="supplier_col"><%= job.supplier %></td>
			    <td class="price_col"><%= job.price %></td>
			    <td class="master_col"><%= job.master.username %></td>
			    <td class="date_col"><%= job.income_date.strftime("%d.%m.%y") %></td>
			    <td class="guarantee_col">
			    	<%= (job.guarantee)? image_tag('/images/green_check.png') : image_tag('/images/red_x.png') %>
			   		<span class="guarantee_val"><%= (job.guarantee)? '✓' : '✕' %></span>
			   	</td>
			    <td><%= link_to(image_tag('edit.png'), edit_job_path(job)) %></td>
			    <!-- if current_user.is_admin? -->
			    	<td><%= link_to(image_tag('delete.png'), job, :confirm => t(:confirmation), 
                :method => :delete) %></td>
			    <!-- end -->
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />
