<%= form_for(@user) do |f| %>
  
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
      <script>
        $(function(){
            $.popup("<%= msg %>", 0, 'jm_message_error');
        });
      </script>
      <% end %>
  <% end %>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>
  
  <p><%= f.label :admin %>
  <%= f.check_box :admin %></p>
  
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t(:submit) %></p>
<% end %>
