<header>
	<nav class="navigation">
		<% if signed_in? %>
		<h2> <%= @title %></h2>
			<div class="white"><%= link_to t(:main_page), root_path %>						     </div>
			<div class="white"><%= link_to t(:models_page), models_path %>                         </div>
			
                                                         
			
			
			<% if current_user.is_admin? %>                                     
      <div class="white">	<%= link_to t(:users_page), users_path %> 	                      </div>
			<% end %>
			<div class="white">	<%= link_to "#{t(:profile_page)} [#{current_user.username}]", edit_user_path(current_user) %>  </div>
			<div class="white"><%= link_to("#{t(:signout)}", signout_path, :action => :delete)  %>       </div>
		<% end %>
	</nav>
</header>
