<!DOCTYPE html>
<html>
<head>
  <title><%= t :app_title %></title>
  <%= stylesheet_link_tag '/stylesheets/main.css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '/javascripts/jquery.min.js' %>
  <%= javascript_include_tag '/javascripts/jquery-ui-1.8.14.custom.min.js' %>
  <%= javascript_include_tag '/javascripts/jquery_ujs.js' %>
  <%= javascript_include_tag '/javascripts/jquery.dataTables.js' %>
  <%= javascript_include_tag '/javascripts/jquery.dataTables.columnFilter.js' %>
  <%= javascript_include_tag '/javascripts/flash_popup.js' %>
  <%= csrf_meta_tag %>
  
</head>
<body>
  <script>
    $(function(){
      <% if notice %>
        $.popup("<%= notice %>", 2000);
      <% end %>
      <% if alert %>
        $.popup("<%= alert %>", 0, 'jm_message_error');
      <% end %>
    });
  </script>
  
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round">
			<%= yield %>
		</section>
	  <%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
